{% extends 'base.html' %}
{% block content %}
<section class="min-h-screen bg-gradient-to-br from-green-50 to-white flex flex-col space-y-4 items-center justify-center p-4"> 
<!-- 예린 section class에 flex-col space-y-4 추가함  -->
    
    <input type="text" id="input-nickname"/>
    <input type="text" id="input-selfintro" />
    <input type="text" id="input-selfmotive" />
    <input type="text" id="input-favoritefood" />
    <input type="text" id="input-hobby" />
    <input type="text" id="input-mbti" />


</section>

<!-- <script src="{{ url_for('static', filename='user_profile.js') }}"></script> -->

{% endblock %}
