{% extends 'base.html' %}
{% block content %}
<section class="min-h-screen bg-gradient-to-br from-green-50 to-white flex items-center justify-center p-4">
        <div id="top-section">
            <h2>프로필 사진이랑 목록 아이콘 들어가야함</h3> 
        </div>

        <div id="my-info-section">
            <h2>내 정보</h2>
            <ul id="my-profile"></ul>
             
        </div>

        <div id="quiz-correct-by-others-section">
            <h2>나를 맞춘 사람</h2>
            <ul id="my-solver"></ul>
        </div>

        <div id="quiz-correct-by-me-section">
            <h2>내가 맞춘 사람들</h2>
            <ul id="my-solved-list"></ul>
        </div>

</section>
{% endblock %}
